# -----------------------
# Python cache / bytecode
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------
# Virtual environments
# -----------------------
env/
venv/
.venv/
.env/

# -----------------------
# OS / Editor files
# -----------------------
.DS_Store
Thumbs.db

.vscode/
.idea/

# -----------------------
# Logs / temp
# -----------------------
logs/
*.log
